<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Django App{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">

  <!-- Navbar -->
  <nav class="bg-white shadow-md px-4 py-3 flex flex-wrap justify-between items-center sticky top-0 z-50">
    <h1 class="text-lg font-bold text-blue-600 w-full sm:w-auto mb-2 sm:mb-0">🎓 EduVideoQuiz</h1>
    <div class="flex flex-wrap gap-2 w-full sm:w-auto justify-start sm:justify-end">
      {% if user.is_authenticated %}
        {% comment %} <a href="{% url 'video_app:certificate_list' %}" class="text-sm bg-green-500 hover:bg-green-600 text-white px-4 py-1 rounded transition">🎓 My Certificates</a> {% endcomment %}
        <a href="{% url 'video_app:video_list' %}" class="text-sm bg-green-500 hover:bg-green-600 text-white px-4 py-1 rounded transition">📽️ Videos</a>

        <form action="{% url 'users:logout' %}" method="post" class="inline">
          {% csrf_token %}
          <button class="text-sm bg-red-500 hover:bg-red-600 text-white px-4 py-1 rounded transition">Logout 👋🏻</button>
        </form>
      {% else %}
        <a href="{% url 'users:signup' %}" class="text-blue-600 hover:underline text-sm">🤵🏼 Sign Up</a>
        <a href="{% url 'users:login' %}" class="text-blue-600 hover:underline text-sm">👤 Login</a>
      {% endif %}
    </div>
  </nav>

  <!-- Main Content -->
  <main class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    {% block content %}{% endblock %}
  </main>

</body>
</html>
